.cancha {
  width: 1000px;
  height:499px;
  background:#8cb27c;
  position:relative;
}

.circulo {
  width:150px;
  height: 150px;
  background: #fffcfc;
  position:absolute;
  top:159px;
  bottom:0;
  right:0;
  left:445px;
  -webkit-border-radius: 50%;
}

.circulo_dos{
  width:140px;
  height: 140px;
  background:#8cb27c;
  position:absolute;
  top:5px;
  bottom:0;
  right:0;
  left:5px;
  -webkit-border-radius: 50%;
}

.borde{
  width:947px;
  height: 451px;
  background:white;
  position:absolute;
  top:23px;
  bottom:0;
  right:0;
  left:25px;
}

.borde_dos{
  width:935px;
  height:441px;
  background:#8cb27c;
  position:absolute;
  top:5px;
  bottom:0;
  right:0;
  left:6px;
}

.arco{
  width:90px;
  height:150px;
  background:white;
  position:absolute;
  top:129px;
  bottom:0;
  right:0;
  left:-6px;
}

.arco_dos{
  width:78px;
  height:138px;
  background:#8cb27c;
  position:absolute;
  top:5px;
  bottom:0;
  right:0;
  left:6px;
}

.arco_tres{
  width:90px;
  height:150px;
  background:white;
  position:absolute;
  top:129px;
  bottom:0;
  right:0;
  left:851px;
}

.arco_cuatro{
  width:78px;
  height:138px;
  background:#8cb27c;
  position:absolute;
  top:5px;
  bottom:0;
  right:0;
  left:6px;
}

div{
  width:21px;
  height:21px;
}
#ball{
  background-image: url(../img/ball.png);
  background-size: 100%;
  position:absolute;
  top:169px;
  bottom:0;
  right:0;
  left:106px;
}

#ball1{
  background-image: url(../img/ball.png);
  background-size: 100%;
  position:absolute;
  top:95px;
  bottom:0;
  right:0;
  left:530px;
}

#ball2{
  background-image: url(../img/ball.png);
  background-size: 100%;
  position:absolute;
  top:277px;
  bottom:0;
  right:0;
  left:865px;
}
